<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="17492CarlosM.GuitarTuner" Publisher="CN=E9F74EFA-B94A-486A-9221-8B0144F66A3C" Version="1.0.0.4" />
  <Properties>
    <DisplayName>GuitarTuner</DisplayName>
    <PublisherDisplayName>CarlosM</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GuitarTuner.App">
      <VisualElements DisplayName="GuitarTuner" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="GuitarTuner" ForegroundText="light" BackgroundColor="#35B93B">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#35B93B" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>